.flaske1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.right {
    display: flex;
    align-items: center;
    padding-right: 75px;
    
}

.left {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 75px;
}

@charset "UTF-8";
/* Da vi har brugt variabler til farver vil det give fejl de steder vi har brugt dem, da html/css ikke forstår dem (det betyder dog ikke at det ikke er korrekt) */
:root {
  --primary: white;
  --dark: #7C889B;
  --text: white;
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

html {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--dark);
}

body {
  background: white;
  margin: 0px 0px;
  line-height: 1.4;
}

img {
  max-width: 100%;
}

/* Navigation */
.main-nav {
	background-color: var(--dark);
  position: fixed;
	width: 100%;
	opacity: 0.8;
}

.main-nav ul {
  display: grid;
  padding: 0;
  list-style: none;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
 	justify-content: center;
  align-content: center;
	text-align: center;
}

.main-nav li{
	display: inline-block;
}

.main-nav a:hover{
	border-bottom: 4px solid rgba(255, 255, 255, 0.6)
}

.main-nav a {
  	text-decoration: none;
  	padding-top: 0.4rem;
  	color: var(--text);
  	font-size: 1.4rem;
}

.main-nav li.active a{
	padding: 9px 9px;
	display: block;
	color: var (--dark);
	text-shadow: var(--shadow);
}

.main-nav img {
	height: 60px;
}

.header {
    background: url(top_billede.jpg);
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 60px;
    font-size: 25px;
    color: white;
    width: 100%;
}

.om {
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
}

/* Footer */
footer {
  margin-top: 2rem;
  background: var(--dark);
  color: var(--text);
  text-align: center;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.adresse {
  color: var(--text);
}

.kontakt {
  grid-template-columns: repeat(1, 1fr);
}

.kontakt ul {
	list-style: none;
	text-decoration: none;
  padding: 0.8rem;
  color: var(--text);
  font-size: 1.4rem;
}

.kontakt li {
	list-style: none;
	text-decoration: none;
  padding: 0.8rem;
  color: var(--text);
  font-size: 1.4rem;
}

.kontakt a {
	list-style: none;
	text-decoration: none;
  padding: 0.8rem;
  color: var(--text);
  font-size: 1.2rem;
}

.kontakt a:hover {
	border-bottom: 4px solid rgba(255, 255, 255, 0.6)
}

.social img {
	height: 2.5em;
	padding: 0.5em
}

@media only screen and (max-width: 600px) {
  .body {
    grid-template-areas:
    'boxes' 'main-nav'
  }
	.main-nav {
	}
	
	.main-nav ul {
    display: grid;
    padding: 0;
    list-style: none;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
		margin:0;
		opacity: 0.8;
  }
  .main-nav a {
    font-size: 0.8rem;
		height: 20px;
  }
  .main-nav img {
    height: 30px;
  }
}